.modal-bkg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 250px;
  padding: 10px 0;

  background-color: white;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal-container > h1 {
  font-size: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}

.form-input {
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.fa-at {
  margin: 10px;
}

.login-inp {
  height: 40px;
  padding: 0 10px;
  border: none;
}

.login-inp:focus {
  outline: none;
}

.login-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.submit-login {
  height: 40px;
  padding: 0 30px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.submit-login:hover {
  cursor: pointer;
}

.submit-login:focus {
  outline: none;
}

/* SUBMIT POST STYLING */

.pt-modal-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 60%;
  margin: 0 auto;
}

.submit-post-btn {
  height: 40px;
  padding: 0 30px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.submit-post-btn:hover {
  cursor: pointer;
}

.submit-post-btn:focus {
  outline: none;
}

@media only screen and (max-width: 650px) {
  .modal-container {
    width: 95%;
    height: 300px;
  }

  .login-form {
    height: 200px;
  }

  .login-btns {
    flex-direction: column;
    justify-content: center;
  }

  .submit-login {
    margin: 10px 0;
  }
}
